<ion-content [fullscreen]="true" class="ion-padding">
  <div class="title">
    <ion-button color="serengeti" (click)="goToLocations()">
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-button>
    <ion-text color="newblack"> Profile </ion-text>
  </div>

  <ion-card class="photo">
    <ion-button class="user-photo" id="open-modal">
      <ion-img [src] ="userAvatar"> </ion-img>
    </ion-button>
  </ion-card>



  <ion-modal #modal trigger="open-modal">
    <ng-template>

      <ion-buttons>
        <ion-button color="dark" (click)="modal.dismiss()"
          ><ion-icon name="close-outline" size="large"></ion-icon
        ></ion-button>
      </ion-buttons>

      <ion-content class="avatars">
        <ion-list>
          <ion-card class="card-avatar" *ngFor="let avatar of getAvatars()">
            <ion-button class="avatar" (click)="changeAvatar(avatar.id)">
              <ion-img [src]="avatar.src"></ion-img>
            </ion-button>
          </ion-card>
        </ion-list>
        <ion-infinite-scroll>
        </ion-infinite-scroll>
      </ion-content>

    </ng-template>
  </ion-modal>



  <ion-text color="dark"> {{ username }} </ion-text>

  <form [formGroup]="form">
    <ion-card color="serengeti">
      <ion-item color="success">
        <ion-icon name="pencil-outline"></ion-icon>
        <ion-input
          formControlName="username"
          text-align="center"
          placeholder="Enter your new username"
          label="Edit username"
          label-placement="floating"
          type="text"
        ></ion-input>
        <ion-button color="serengeti" (click)="changeUsername()">
          <ion-icon name="checkmark-circle-outline" size="large" shape="round"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-card color="success">
        <ion-item color="success">
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-input
            formControlName="password"
            text-align="center"
            placeholder="Enter your new password"
            label="Edit password"
            label-placement="floating"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item color="success">
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-input
            formControlName="confirmPassword"
            text-align="center"
            placeholder="Confirm your new password"
            label="Confirm new password"
            label-placement="floating"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-button class="confirm" color="serengeti" (click)="changePassword()">
          <ion-text color="success">Confirm</ion-text>
        </ion-button>
      </ion-card>

      <ion-button color="success">
        <ion-button color="telegram"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
        <ion-text> Click to go to telegram bot </ion-text>
      </ion-button>

      <ion-button color="danger" shape="round" (click)="deleteAccount()">
        <ion-text color="newblack">Delete account</ion-text>
      </ion-button>
    </ion-card>
  </form>
</ion-content>
