ion-content {
  --background: #78CB80;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;

  ion-button[color="serengeti"] {
    --background: transparent !important;
    --box-shadow: 0;
    align-items: center;
    position: fixed;
    left: 0;
  }

  ion-text[color="newblack"] {
    display: flex;
    font-size: xx-large;
    display: flex;
    margin-left: -0.5rem;
  }
}

ion-item[color="serengeti"]{
  display: flex;
  flex-direction: column;

}

ion-input {
  --background: transparent !important;
  margin-left: 1rem;
}

ion-item[color="success"]{
  --border-radius: 2rem;
  margin-bottom: 1rem;
}

ion-button[color="serengeti"]{
  --border-radius: 3rem;
}



ion-card[color="success"]{
   border-radius: 2rem;
   display: flex;
   flex-direction: column;
   padding-right: 3rem;
   padding-top: 1rem;
   margin-top: -0.1rem;
}

ion-button[color="danger"]{
  display: flex;
  width: 10rem;
}


ion-card[color="serengeti"]{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  box-shadow: none !important;
}

ion-button[color="success"]{
  display: flex;
  justify-content: center;
  --border-radius: 2rem;
  padding: 1rem;
  height: 5rem;
}

ion-text[color="dark"]{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ion-button[color="telegram"]{
  --border-radius: 3rem;
}


.confirm {
  padding-left: 3rem;
  margin-bottom: 0.5rem;
}


.photo{
  background: #78CB80;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
}

.user-photo{
  --border-radius: 3rem;
  --background: #78CB80;
  --box-shadow: 0;
}

ion-modal {
  --background: #FFF6EB;
  --height: 50%;
  --border-radius: 20px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 5%;
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

 ion-buttons {
   display: flex;
   justify-content: flex-end;
 }

 .avatars {
  display: flex;
  flex-direction: column;
  --background: #FFF6EB;
  box-shadow: none !important;
  position: fixed;
 }

 .avatar {
  display: flex;
  --background: #FFF6EB;
  --box-shadow: none !important;
  --border-radius: 3em;
 }

 ion-list{
  background-color: #FFF6EB;
 }

.card-avatar{
  background-color: #FFF6EB; 
  box-shadow: none !important;
}