.main {
  box-sizing: border-box;

  position: absolute;
  width: 390px;
  height: 844px;
  
  background: #78CB80;
  background-blend-mode: exclusion;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.logo {

  position: absolute;
  width: 374px;
  height: 69px;
  left: 8px;
  top: 282px;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.abbreviation {
  position: absolute;
}