.ion-color-chorniy {
	--ion-color-base: var(--ion-color-chorniy);
	--ion-color-base-rgb: var(--ion-color-chorniy-rgb);
	--ion-color-contrast: var(--ion-color-chorniy-contrast);
	--ion-color-contrast-rgb: var(--ion-color-chorniy-contrast-rgb);
	--ion-color-shade: var(--ion-color-chorniy-shade);
	--ion-color-tint: var(--ion-color-chorniy-tint);
}