ion-content {
 feature/register-page
  --background: #78CB80;
}

ion-button[color="serengeti"]{
  margin-top: 5%;
}

ion-item[color="serengeti"] {
  display: flex;
  margin-top: 10%;
}

ion-text[color="newblack"] {//create account
  display: flex;
  font-size: xx-large;
  margin: -11% 0 5% 22%; 
}

ion-card {
  border-radius: 20px !important;
  margin: 9%;
  height: 6%;
  margin-top: -7%;
}


ion-button[color="aero-blue"]{
  width: 30%;
  margin-left: 10%;
  margin-bottom: -6%;
}

ion-button[color="newblack"] {
  text-transform: initial;
  margin: 20%;
  margin-top: 15%;
}
=======
    --background: #78CB80;
  }
  
  ion-button[color="serengeti"]{
    margin-top: 5%;
  }
  
  ion-item[color="serengeti"] {
    display: flex;
    margin-top: 10%;
  }
  
  ion-text[color="newblack"] {//create account
    margin-top: 5%;
    font-size: xx-large;
    margin-left: 10%;
  
  }
  
  ion-card {
    border-radius: 30px !important;
    height: 7%;
    margin-top: 3%;
  }
  
  
  ion-button[color="aero-blue"]{
    width: 25%;
    margin-left: 10%;
    margin-bottom: -3%;
    display: flex;
    justify-content: center;
  }
  
main
