ion-content {
    --background: #78CB80;
  }
  
  ion-button[color="serengeti"]{
    margin-top: 5%;
  }
  
  ion-item[color="serengeti"] {
    display: flex;
    margin-top: 10%;
  }
  
  ion-text[color="newblack"] {//create account
    margin-top: 5%;
    font-size: xx-large;
    margin-left: 10%;
  
  }
  
  ion-card {
    border-radius: 30px !important;
    height: 7%;
    margin-top: 3%;
  }
  
  
  ion-button[color="aero-blue"]{
    width: 25%;
    margin-left: 10%;
    margin-bottom: -3%;
    display: flex;
    justify-content: center;
  }
  