<ion-content>
  <div id="map"></div>
  <div class="top-button-container">
    <ng-container *ngFor="let button of getLocationButtons()">
      <ion-button size="small" shape="round" color="success">
        <ion-img [src]="button.src"></ion-img>{{button.label}}
      </ion-button>
    </ng-container>
  </div>
  <!-- <ion-button size="small" (click)="goToFavoriteChat()">Chat</ion-button> -->
  <ion-button color="success" size="small" shape="round">
    <ion-select placeholder="Filter" (ionChange)="handleChange($event)" [multiple]="true">
      <ion-select-option *ngFor="let type of getLocationTypes()">{{ type }}</ion-select-option>
    </ion-select>
  </ion-button>
  <div class="lower-bar">
    <ion-card>
      <ion-button (click)="goToChat()">
        <ion-text> <ion-icon name="chatbox-outline" size="large"></ion-icon>Chat</ion-text></ion-button
      >
      <ion-button (click)="goToFavorite()"
        ><ion-text> <ion-icon name="bookmark-outline" size="large"></ion-icon>Favorite</ion-text></ion-button
      >

      <div class="circle-button-container">
        <ng-container *ngFor="let button of getImgSrc()">
          <ion-button class="circle-button" color="main" size="small" (click)="toggleLocationsType()">
            <img [src]="button.src" />
          </ion-button>
        </ng-container>
      </div>
      <ion-button>
        <ion-text><ion-icon name="location-outline" size="large"></ion-icon>Map</ion-text></ion-button
      >
      <ion-button (click)="goToProfile()"
        ><ion-text><ion-icon name="person-outline" size="large"></ion-icon>Profile</ion-text></ion-button
      >
    </ion-card>
  </div>

  <ion-modal #modal>
    <ng-template>
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="modal.dismiss()"
          ><ion-icon name="close-outline" size="large"></ion-icon
        ></ion-button>
      </ion-buttons>

      <ion-toolbar color="success">
        <span class="image-wrapper">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Image" />
        </span>
        <div class="container">

          <ion-button color="#FFF6EB" (click)="addToFavorite()">
            <ion-text color="black">
              <ion-icon name="bookmark-outline" size="large"></ion-icon> Add to favorite
            </ion-text>
          </ion-button>

          <ion-button color="#FFF6EB" (click)="goToChat()">
            <ion-text color="black">
              <ion-icon name="chatbox-outline" size="large"></ion-icon> Open chat
            </ion-text>
          </ion-button>

        </div>
      </ion-toolbar>
    </ng-template>
  </ion-modal>
</ion-content>
