<ion-content>
  <div id="map"></div>
  <div class="top-button-container">
    
    <ng-container *ngIf="currentActivity === 'Intelligence'">
      <ion-button size="small" color="success">Filter</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/park-icon.png"></ion-img>Parks</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/chess-icon.png"></ion-img>Chess</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/library-icon.png"></ion-img>Libraries</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/music-icon.png"></ion-img>Museums</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/music-icon.png"></ion-img>Music</ion-button>
      <ion-button size="small" color="dark" (click)="toggleLocationsType()">Change</ion-button>
    </ng-container>
    
    
    <ng-container *ngIf="currentActivity === 'Sport'">
      <ion-button size="small" color="success">Filter</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/football-icon.png"></ion-img>Football</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/basketball-icon.png"></ion-img>Basketball</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/volleyball-icon.png"></ion-img>Volleyball</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/gym-icon.png"></ion-img>Gym</ion-button>
      <ion-button size="small" color="success"><ion-img src="assets/icon/tennis-icon.png"></ion-img>Tennis</ion-button>
      <ion-button size="small" color="dark" (click)="toggleLocationsType()">Change</ion-button>
    </ng-container>
  </div>
</ion-content>

