.main {
    background-color: #FFF6EB;
    height: 100%;
}

.button-log-in{
    background-color: #000000;
    width: 328px;
    height: 56px;
    border-radius: 25px;
    left: 31px;
    bottom: 200px;
    
    //margin: 400px auto;
    display: flex;
    justify-content: center;
    position: absolute;

}

.button-log-in-text {
    
    color: #FFF6EB;
    display: flex;
    font-size: 200%;
    line-height: 5px;
}
            
.box-logo{
    width: 150px;
    height: 150px;
    left: 120px;
    top: 50px;
    
    display: grid;
    place-items: center;
    position: absolute;
}