ion-img {
    width: 40%;
    height: auto;
    margin: 3rem auto;
  }
  
  ion-content {
    --background: #FFF6EB;
  
  }
  
  ion-input {
    --background: transparent !important;
  }
  
  ion-card-content {
    margin-top: -1rem;
  }
  
  ion-button[color="success"] { //Forgot your password?
    text-transform: initial;
    font-size: large;
  }
  
  ion-button[color="newblack"] { //log in
    text-transform: initial;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 14rem;
    height: 3rem;
  }
  
  ion-text[color="dark"] { //don't have account
    h6 {
      margin-top: 3rem;
    }
  }
  
  ion-button[color="dark"] { //create account
    text-transform: initial;
    width: 14rem;
    height: 3rem;
    margin: auto;
  }