<ion-content>
  <ion-grid>
    <ion-row>
      <ion-img src="assets/img/tabtab-logo.png"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-text class="ion-text-center" color="newblack">
    <h5>TAKE A BREAK. TAKE A BREATH</h5>
  </ion-text>
  <form [formGroup]="form">
    <ion-card color="success" style="box-shadow: none !important">
      <ion-card-content>
        <ion-item color="success">
          <ion-input formControlName="email" label="Enter email address" label-placement="floating" fill="solid"
            placeholder="Email address"></ion-input>
        </ion-item>
        
          <ion-label color="danger" *ngIf="form.get('email').touched
       && form.get('email').errors?.['email']">
            Email is invalid</ion-label>
        
        
          <ion-label color="danger" *ngIf="form.get('email').touched
       && form.get('email').errors?.['required']">
            Email is mandatory</ion-label>
        

        <ion-item color="success">
          <ion-input formControlName="password" label="Enter password" type="password" label-placement="floating"
            placeholder="Password"></ion-input></ion-item>

            <ion-label color="danger" *ngIf="form.get('password').touched
            && form.get('password').errors?.['required']">
                  Password is mandatory</ion-label>
        
      </ion-card-content>
    </ion-card>
  </form>

  
  <ion-button color="newblack" size="full" shape="round" (click)="login()">Log in</ion-button>

  <ion-button color="success" fill="clear" size="full">
    <ion-text color="newblack">Forgot your password?</ion-text>
  </ion-button>

  <ion-text class="ion-text-center" color="dark">
    <h6>Don't have account?</h6>
  </ion-text>

  <ion-button color="dark" size="full" shape="round" (click)="goToRegister()">
    <ion-text>
      <h5>Create account</h5>
    </ion-text>
  </ion-button>
  
</ion-content>