ion-grid {
  width: 12rem;
  height: auto;
  margin: auto;
  margin-top: 3.5rem;
}
  
  ion-content {
    --background: #FFF6EB;
  }
  
  ion-input {
    --background: transparent !important;
  }
  
  ion-card-content {
    margin-top: -1rem;
  }
  
  ion-button[color="success"] { 
    text-transform: initial;
    font-size: large;
  }

  ion-button[color="newblack"] { 
    text-transform: initial;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 14rem;
    height: 3rem;
  }
  
  ion-text[color="dark"] { 
    h6 {
      margin-top: 3rem;
    }
  }
  
  
  ion-button[color="dark"] { 
    text-transform: initial;
    width: 14rem;
    height: 3rem;
    margin: auto;
  }