<ion-content>
    <div>
        <div>
            <input type="text" id="from" placeholder="Choose a nickname"/>
        </div>
        <br />
        <div>
          
            <!-- <button id="connect" (click)="connect()">Connect</button> -->
            <!-- <button id="disconnect" disabled="disabled" (click)="disconnect()">
                Disconnect
            </button> -->
        </div>
        <br />
        <div id="conversationDiv">
            <input type="text" id="text" placeholder="Write a message..."/>
            <button id="sendMessage" (click)="sendMessage(message)">Send</button>

            <p id="response"></p>
        </div>
    </div>
</ion-content>
