<ion-content [fullscreen]="true">
  <ion-item color="gray85">
    <ion-text color="dark"> ADVERTISING </ion-text>
  </ion-item>

  <ion-text color="newblack"> Who are you today? </ion-text>

  <ion-text color="newblack"> <h3>Intelligence</h3> </ion-text>

  <ion-button
    color="serengeti"
    shape="round"
    (click)="intelligence()"
  >
    <ion-img src="assets/icon/intelligence.png"></ion-img>
  </ion-button>

  <ion-text color="newblack"> <h3>Sport</h3></ion-text>

  <ion-button
    color="serengeti" 
    shape="round"
    (click)="intelligence()"
  >
    <ion-img src="assets/icon/sport.png"></ion-img>
  </ion-button>
</ion-content>
