ion-content {
  --background: #78CB80;
}

ion-item[color="gray85"]{
  margin-top: 1rem;
}
ion-text[color="dark"]{
  display: flex;
  margin: auto;
  font-size: xx-large;
 
}

ion-text[color="newblack"] {
  display: flex;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


ion-button[color="serengeti"]{
  display: flex;
  justify-content: center;
  --box-shadow:0;
  --border-radius: 10rem;
}

.photo {
  background: #78CB80;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
}