<ion-content>
    <ion-grid class="image-container">
    </ion-grid>
    <ion-button class="move-back">
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-button>
    <span class="image-wrapper">
        <img  [src]="l" alt="Image" />
      </span>
      <span class="room_name">{{ locationName }}</span>
    <div class="message_root_div">
            
      <div class="message_component message_list">
        <div *ngFor="let message of messageList; let idx = index" class="message_item_{{ message.messageType.toLowerCase() }}{{ message.userId === userId ? '_self' : '' }}">
          <div>
          <ion-item>
          <span *ngIf="message.messageType.toLowerCase() !== 'server' && message.userId !== userId" class="message_item_username">{{ message.userId }}</span>
          <div class="message_message_{{ message.messageType.toLowerCase() }}{{ message.userId === userId ? '_self' : '' }}">
            <span class="message_message_value">{{ message.message  }}</span>
          </div>
          </ion-item>
          <span class="message-time">{{ message.createdDateTime | date: 'HH:mm' }}</span>
        </div>
        </div>
        <div #messagesEndRef></div>
      </div>
      <form class="chat-input" (ngSubmit)="sendMessage()">
        <input type="text" [(ngModel)]="messageInput" placeholder="Type a message" name="messageInput">
        <button class="submit" type="submit">
          <ng-container *ngIf="messageInput === ''; else fillButton">
            <i class="ri-send-plane-line" style="font-size: 25px;"></i>
          </ng-container>
          <ng-template #fillButton>
            <i class="ri-send-plane-fill" style="font-size: 25px; color: #929292;"></i>
          </ng-template>
          <ion-icon class="send-icon" name="paper-plane-outline" size="large"></ion-icon>
        </button>
      </form>
    </div>
  </ion-content>
  