.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/chat-background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.go-to-chat {
  display: flex;
  height: 3rem;
  --background: #FFF6EB;
  justify-content: flex-start;
  --box-shadow: 0;
  margin-left: -1rem;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;

  .move-back{
    --background: none !important;
      --box-shadow: 0;
      color: #000000;
      align-items: center;
      position: fixed;
      left: 0;
  }

  ion-text[color="newblack"] {
    display: flex;
    font-size: xx-large;
    display: flex;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}


.element {
  background-color: #FFF6EB;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;

  ion-button[color="success"] {
    position: fixed;
    right: 0;
    --background: transparent !important;
    --box-shadow: 0;
  }

  .image-wrapper img {
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
  }

    ion-text[color="dark"]{
      margin-left: 1rem;
    }
  
}