<ion-content [fullscreen]="true">
  <div class="title">
    <ion-button color="serengeti" (click)="goToLocations()">
      <ion-icon name="chevron-back-outline" size="large" ></ion-icon>
    </ion-button>
    <ion-text color="newblack"> Favorite </ion-text>
  </div>

  <div class="button-container">
    <ng-container>
      <ion-card *ngFor="let favorite of favorites" class="element">
        <span class="image-wrapper">
          <img [src]="favorite.image" alt="Image" />
        </span>
        <ion-text color="dark">{{ favorite.address }}</ion-text>
        <ion-button color="success" (click)="deleteFavorite(favorite.favoriteId)">
          <ion-icon name="trash-outline" size="large"></ion-icon>
        </ion-button>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
