<ion-content>
  <ion-button color="success" (click)="goToLogin()">
    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-img src="assets/img/tabtab-logo.png"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-text class="ion-text-center" color="newblack">
    <h1>Create Account</h1>
  </ion-text>
 
  <form [formGroup]="registerForm.getForm()">

    <ion-card color="success" style="box-shadow: none !important">
      <ion-card-content>
        <ion-item color="success" lines="none">
        <ion-input 
          formControlName="username" 
          fill="solid"
          text-align="center"
          placeholder="Your username"
          label="Your username" 
          label-placement="floating"
          id="nicknameInput"
          type="text"
        ></ion-input>
      </ion-item>

        <app-error-message [field]="registerForm.getForm().get('username')" error="required" message="Username is mandatory"/>
        <app-error-message [field]="registerForm.getForm().get('username')" error="maxlength" message="20 characters max"/>

        <ion-item color="success" lines="none">
          <ion-input
            formControlName="email" 
            fill="solid"
            placeholder="Email address"
            label="Enter email address" 
            label-placement="floating"
            type="email"
            id="emailInput">
          </ion-input>
        </ion-item>

        <app-error-message [field]="registerForm.getForm().get('email')" error="required" message="Email is mandatory"/> 
         <app-error-message [field]="registerForm.getForm().get('email')" error="email" message="Email is invalid"/>
       

   
        <ion-item color="success" lines="none">
        <ion-input
          formControlName="password" 
          fill="solid"
          placeholder="Create password"
          label="Create password" 
          label-placement="floating"
          type="password">
           </ion-input>
          </ion-item>

        <app-error-message [field]="registerForm.getForm().get('password')" error="required" message="Password is mandatory"/>
        <app-error-message [field]="registerForm.getForm().get('password')" error="minlength" message="Minimum of 8 characters"/>

   
        <ion-item color="success" lines="none">
          <ion-input
          formControlName="confirmPassword" 
          fill="solid"
          placeholder="Confirm password"
          label="Confirm password" 
          label-placement="floating"
          type="password">
        </ion-input>
      </ion-item>

      <app-error-message [field]="registerForm.getForm().get('password')" error="isntMatching" message="Not matching with password"/>

      <ion-item color="success" lines="none" (click)="showPicker =!showPicker">
        <ion-text color="dark" slot="end">{{formattedString}}</ion-text>
        <ion-segment [(ngModel)]="selectedMode" [ngModelOptions]="{standalone: true}">
          <ion-segment-button [value]="mode" *ngFor="let mode of modes">
            <ion-label>Birthday</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
        
        <ion-datetime *ngIf="showPicker" [value]="dateValue" size="cover"
        #datetime
        formControlName="birthday"
        (ionChange)="dateChange(datetime.value)"
        
        (ionCancel)="showPicker=false"
        presentation="date"
        >    
        <ion-buttons slot="buttons" >
          <ion-button color="danger" (click)="datetime.cancel(true)">Close</ion-button>
          <ion-button color="primary"  (click)="datetime.confirm(true) && datetime.cancel(true)">Done</ion-button>
        </ion-buttons>

      </ion-datetime>
      </ion-card-content>
    </ion-card>

    <ion-button color="dark" size="full" shape="round"  [disabled]="!registerForm.getForm().valid" (click)="register()">
      Create account
    </ion-button>

  </form>
</ion-content>