ion-input {
  --background: transparent !important;
  margin-top: -1.1rem;
}

.stylebg{
  ion-datetime{
    --background:#FFF6EB;
    --background-rgb:255,246,235;
    --wheel-highlight--background:(255,246,235);
    --wheel-fade-background-rgb:255,246,235;
    

  }
  ion-datetime::part(wheel-item){
    color:black;
  }
  
  ion-datetime::part(wheel-item active){
    color:rgb(223, 201, 160);
  }
}

ion-chip{
--background:#bae4c8 !important;
  margin-left: 3rem;
  margin-bottom: 1.2rem;
  
}

ion-content {

  --background: #78CB80;
}

ion-button[color="serengeti"]{
  margin-top: 1rem;
  margin-left: 1rem;
  --background: transparent !important;
  --box-shadow:0;
}



ion-text[color="newblack"] {//create account
  display: flex;
  font-size: xx-large;
  margin: -10% 0 5% 22%; 

  
}

ion-card {
  border-radius: 2.5rem;
  margin: 1.7rem;
  height: 3rem;
  margin-top: -1.7rem;
}

ion-button[color="newblack"] {
  text-transform: initial;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  width: 14rem;
  height: 3rem;
} 