ion-input {
  --background: transparent !important;
}

ion-datetime {
  --background:#ffffff;
  --background-rgb: 255, 255, 225;
  --wheel-highlight-background: rgb(255, 255, 255);
  --wheel-fade-background-rgb: 255, 255, 255;
}

ion-grid {
  width: 12rem;
  height: auto;
  margin: auto;
}

ion-content {
  --background: #FFF6EB;
}

ion-button[color="success"]{
  margin-top: 1rem;
  margin-left: 1rem;
  --background: transparent !important;
  --box-shadow:0;
}

ion-text[color="newblack"] {
  
  font-size: xx-large;
  text-align: center
}

ion-card-content {
  margin-top: -1rem;
}

ion-segment-button::part(indicator-background) {
  background: #000000;
}

ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #000000;
}

ion-segment-button.md::part(indicator-background) {
  height: 1px;
}

ion-segment-button{
  width: 9rem;
}

ion-button[color="dark"] { 
  text-transform: initial;
  width: 14rem;
  height: 3rem;
  margin: auto;
}