ion-img{
    width: 40%;
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 3%;
}

ion-content{
    --background: #FFF6EB;
  
}


ion-card-content{
    margin-top: -7%;
}

ion-button[color="dark"]{
    text-transform: initial;
    margin:15% ;
    margin-top: -5%;
    font-size: large;
}

ion-text [color="dark"]{
    margin-top: -10%;
}

ion-button[color="success"]{
    margin-top: -17%;
    
}

ion-button[color="newblack"]{
    text-transform: initial;
    margin:40% ;
    margin-top:10%;
}